body {
	background-color: black;
	font-size: 60px;
	font-family: 'Exo', sans-serif;
	font-weight: 100;
	color: white;
	text-align: center;
}

#top {
	height: 70px;
	width: 100%;
}

.container {
	/*margin-top: 40px;*/
	background-color: black;
}


.carousel-indicators {
	display:none; 
}


/*.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}*/



/*#slideshow {
    position:relative;
    height:350px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}*/

#divOne {
	position: relative;
}


#cloudText {
	font-size: 40px;
	font-weight: 100;
	color: white;
}


#future {
	font-size: 30px;
	font-weight: 150;
}

#contact, #listings, #divOne, #divTwo {
	font-size: 30px;
	font-weight: 150;
	color: #999;
}