body {
	background-color: black;
	
}






#navText {
	font-size: 20px;
	font-weight: 200;
}

/*img {
	width: 100%;
	height: 500px;
}
*/
.images {
	height: 400px;
	width: 100%;
}


#desert {
	position: fixed;
	/*z-index: 11000;*/
}



#helloWorld {
	height: 100px;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 100;

	font-size: 30px;
	font-family: 'Exo', sans-serif;
	font-weight: 100;
	color: white;
	text-align: center;

	position: fixed;
}



/*#divOne, #mover {
	height: 500px;
	width: 500px;
	
	vertical-align: middle;
	margin: auto;
	position: fixed;
}*/

#clouds {
	/*height: 400px;*/
	/*z-index: 10;*/
	position: relative;
	background-color: transparent;
}

.cloudText {
	position: absolute;
	/*position: fixed;*/
}

#quoteLeft {
	/*display: inline-block;*/
	font-size: 40px;
	width: 50%;
	height: 50%;
	/*float: left;*/
}

#quoteRight {
	display: inline-block;
	font-size: 40px;
	clear: both;
	width: 50%;
	height: 50%;
	/*float: right;*/
}

#quoteBottom {
	/*display: inline-block;*/
	font-size: 40px;
	clear: both;
	width: 100%;
	margin-top: 300px;
}

#quoteRunoff {
	/*display: inline-block;*/
	font-size: 40px;
	clear: both;
	width: 100%;
	margin-top: 400px;
}

#divOne {
	height: 450px;
	width: 100%;
	background-color: black;
	text-align: center;
	vertical-align: middle;
	margin: auto;
/*	position: fixed;
*/}

#divTwo {
	height: 400px;
	width: 100%;
	background-color: black;
	text-align: center;
	vertical-align: middle;
	margin: auto;
/*	position: fixed;
*/}

#divThree {
	height: 400px;
	width: 100%;
	background-color: black;
	text-align: center;
	/*vertical-align: middle;*/
	/*margin: auto;*/
	/*position: fixed;*/
	/*display: block;*/
}

#circleOne {
	height: 100px;
	width: 100px;
	float: left;
	margin-left: 100px;
	margin-top: 20px;
	/*position: fixed;*/
	/*vertical-align: middle;
	margin: auto;*/
}
#circleTwo {
	height: 100px;
	width: 100px;
	float: left;
	margin-left: 100px;
	margin-top: 20px;
}
#circleThree {
	height: 100px;
	width: 100px;
	float: left;
	margin-left: 100px;
	margin-top: 20px;
}



div {
	font-size: 60px;
	font-family: 'Exo', sans-serif;
	font-weight: 100;
	color: white;
	text-align: center;
	}

	p {
		font-size: 12px;
	}




.footer {
	
	/*margin: auto;*/
	height: 150px; 
	width: 100%; 
	background-color: black;
	display: block;
}

#contact {
	float: left;
}

#listngs {
	clear: both;
	float: right;
}

/*.footerP {
	text-align: right;
	vertical-align: middle;
	margin: auto;
}*/




@media (max-width: 700px) {
	

	.footerP {
		size: 10px;
	}
}