body {
	background-color: black;
	font-size: 60px;
	font-family: 'Exo', sans-serif;
	font-weight: 200;
	color: white;
	text-align: center;
}

.navbar {
  color: white;
  background: black;
}

.nav {
  color: white;
}
.content {
  margin-top: 700px;
  position: relative;
  background: white;
}

#landing {
  position: fixed;
}

/*div {
	float: center;
}*/

#top {
	height: 70px;
	width: 100%;
}

.container {
	background-color: black;
}


.carousel-indicators {
	display:none; 
}

.divLeft, .divRight {
  margin-top: 20px;
  margin-bottom: 20px;
}

.divCenter {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 150;
  color: #999;
}


/*.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}*/



/*#slideshow {
    position:relative;
    height:350px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}*/
#clouds {
  background: url("images/sky-home.jpg");
  height: 500px;
  width: 100%;
}

.quote {
  width: 200px;
  height: 200px;
}

#divOne {
	position: relative;
}

.textOverlay {
  background: white;

}

.yellowTop {
  background: #FFDC00;
  width: 100%;
}


#cloudText {
	font-size: 35px;
	font-weight: 100;
	background: white;
  /*position: relative;*/
}


#future {
	font-size: 30px;
	font-weight: 150;
}

#contact, #listings, #divOne, #divTwo {
	font-size: 30px;
	font-weight: 150;
	color: #999;
}

#divThree {
  height: 500px;
  background: #6e5e78;
}